#wrapperBiolaFooter { background:image-url('toolkit/footer-standard/footer_shadow.png') 0 0 repeat-x; }
#siteinfo .org { text-indent: 1000%; white-space: nowrap; overflow: hidden; }

/* Desktop */
#wrapperBiolaFooter { float:left; width:100%; padding:0 0 20px; }
#biolaFooter { width:770px; margin:30px auto; padding:0; overflow:hidden; background:image-url('toolkit/footer-standard/rule_dotted_v.gif') 60% top repeat-y; }
#biolaFooter,
#biolaFooter a { color:#CCC; font:normal 12px/1.3 Helvetica, Arial, sans-serif; }
#biolaFooter a { text-decoration:none; }
#biolaFooter a:hover { text-decoration:underline; }
#navBiolaSupplemental { float:right; width:36%; margin:0; }
#navBiolaSupplemental ul { list-style-type:none; margin:4px 0; padding:0; }
#navBiolaSupplemental ul li { float:left; width:50%; margin:0 0 6px; }
#siteinfo { float:left; width:55%; margin:0; }
#siteinfo .org { display:block; width:50%; height:40px; float:left; margin:0 0 13px; background:image-url('toolkit/footer-standard/logo-biola-h-white.png') no-repeat 0 0; }
#siteinfo .adr,
#siteinfo .tel,
#siteinfoMapLink { float:right; clear:right; width:50%; font-style:normal; }
#siteinfo .adr { padding:4px 0 0 0; }
#siteinfo .tel { margin:0 0 9px 0; }
#siteinfoLegal { float:left; clear:left; padding:0; text-align:center; width:135px; margin:0; }
#siteinfoLegal,
#siteinfoLegal a { color:#AAA; font-size:11px; }
#siteinfoLegal a { display:block; padding:0 0 2px; }

/* Mobile */
@media (max-width:767px) {
  #wrapperBiolaFooter { float:none; padding:0; }
  #biolaFooter { margin:0; padding:20px 0; width:auto; text-align:center; background:transparent; }
  #navBiolaSupplemental ul { max-width:320px; margin-left:auto; margin-right:auto; }
  #navBiolaSupplemental ul li { display:inline-block; float:none; width:auto; }
  #navBiolaSupplemental ul li a { display:inline-block; padding:5px 8px; }
  #siteinfo { float:none; width:auto; }
  #siteinfo .org { display:inline-block; width:200px; height:70px; float:none; margin:0 auto 10px; padding:0; background:image-url('toolkit/footer-standard/logo-biola-v-white.png') no-repeat center top; }
  #siteinfo .tel,
  #siteinfo .adr { float:none; width:100%; }
  #siteinfoLegal { float:none; width:100%; text-align:center; margin:0; }
  #siteinfoLegal a { display:inline; }
  #siteinfoContact { margin:0 0 10px; }
  #navBiolaSupplemental,
  #siteinfoMapLink { display:block; float:none; width:100%; margin:20px 0; }
}

/* Tablet */
@media (min-width:768px) and (max-width:979px) {
  #biolaFooter { width:720px; }
}

@media (max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
  #siteinfo .org { background-image:image-url('toolkit/footer-standard/logo-biola-v-white-x2.png'); background-size:92px 69px; }
}

@media (min-width:768px) and (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
  #siteinfo .org { background-image:image-url('toolkit/footer-standard/logo-biola-h-white-x2.png'); background-size:142px 37px; }
}
