#alphaBanner { padding: 10px; width: 100%; color: #0b0c0c; background-color: #d53880; }
#alphaBanner a { color: #0b0c0c; text-decoration: underline; }
#betaBanner { padding: 10px; width: 100%; color: #0b0c0c; background-color: #D58338; }
#betaBanner a { color: #0b0c0c; text-decoration: underline; }