<div id="wrapperBiolaFooter">
  <div id="biolaFooter">
    <div id="navBiolaSupplemental">
      <ul>
        <li><a href="http://www.biola.edu/contact/">Contact Biola</a></li>
        <li><a href="http://www.biola.edu/admissions/">Request Admission Info</a></li>
        <li><a href="http://www.biola.edu/library/">Library</a></li>
        <li><a href="http://www.biola.edu/donations/">Giving to Biola</a></li>
        <li><a href="http://www.biola.edu/hr/">Employment</a></li>
        <li><a href="http://www.biola.edu/news/press/">Press Room</a></li>
      </ul>
    </div>
    <div id="siteinfo">
      <div id="siteinfoContact" class="vcard">
        <a class="org fn" href="http://www.biola.edu/">Biola University</a>
        <div id="biola-address" class="adr">
          <span class="street-address">13800 Biola Ave.</span>
          <span class="locality">La Mirada</span>, <span class="region">CA</span>
          <span class="postal-code">90639</span>
        </div>
        <div class="tel">1-562-903-6000</div>
      </div>
      <div id="siteinfoMapLink"><a href="http://www.biola.edu/maps/">Maps &amp; Directions</a> | <a href="http://biola.edu/privacy/">Privacy Policy</a></div>
      <div id="siteinfoLegal"><a href="http://www.biola.edu/copyright/">© 1996-<%= Time.now.year %> Biola University, Inc.</a> All Rights Reserved.</div>
    </div>
  </div>
</div>
